{% extends 'main/layout.html' %}

{% block title %}
<title>add word</title>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <label>Введіть слово</label>
        {{ form.Slovo }}<br>
        <label>Введіть переклад</label>
        {{ form.Perevod }}<br>
        <label>Введіть мови</label>
        {{ form.languages }}<br>
        <button type="submit">Зберегти</button>
    </form>
    <button onclick="location.href='index'">Повернутися</button>
{% endblock %}