{% extends 'main/layout.html' %}

{% block title %}
<title>Про нас</title>
{% endblock %}

{% block content %}
    <h1>Про нас</h1>
    <p>Ласкаво просимо на наш сайт! Ми пропонуємо зручний сервіс для перекладу слів та фраз.
       Наша мета – допомогти вам швидко знаходити значення слів, розширювати словниковий запас
       та вивчати нові мови.</p>
    <p>Наш сайт підтримує багатомовний переклад, надає точні визначення та приклади використання слів.
       Ми прагнемо зробити вивчення мов простішим та доступнішим для всіх.</p>

    <a href="{% url 'index' user_id=user_id %}">Назад</a>
{% endblock %}
