{% extends 'main/layout.html' %}

{% block title %}
<title>register</title>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <label>Введіть username</label>
        {{ form.username }}<br>
        <label>Введіть ім'я</label>
        {{ form.name }}<br>
        <label>Введіть прізвище</label>
        {{ form.surname }}<br>
        <label>Введіть номер телефону</label>
        {{ form.phone_number }}<br>
        <label>Введіть номер електронну пошту</label>
        {{ form.email }}<br>
        <button type="submit">Зареєструватися</button>
    </form>
{% endblock %}